---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { MainLayout } from "@utils/index";
---
<MainLayout>
	<div class="min-h-dvh flex items-center">
		<div class="container">
			<div class="space-y-8">
				<h1 class="text-5xl font-bold">Error Page 404</h1>
				<a class="inline-block rounded px-6 py-2 bg-neutral-200 text-neutral-700 dark:bg-neutral-900 dark:text-neutral-50" href="/">Back to Home</a>
			</div>
		</div>
	</div>
</MainLayout>
