---
const today = new Date();
import { SITE_TITLE } from '../consts';
---
<footer class="dark:bg-neutral-800 dark:text-white h-fit mt-auto">
	<div class="container border-t py-8 dark:border-neutral-600">
		<p class="text-center">&copy; {today.getFullYear()} {SITE_TITLE} All rights reserved.</p>
	</div>
</footer>
